body,html,article,aside{
    height: 100%;
    margin: 0;padding: 0;
}
.board{
    height: 100%;
    margin-left: 8em;
    margin-right: 1em;
}

.title{
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;

}

.text_center{
    width: 75%;
    margin: auto;
}

body .row{
    height: 100%;
}

.main{
    background: url('../img/1.jpg') no-repeat;
    background-size: cover;
}

.main h1{
    color: white;
    font-family: 黑体;
    font-size: 7em;
    margin: 10% 0 0 10%;
}

.arrow{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
}

.color{
    background: #2a1744;
}

.color h1{
    color: white;
    font-family: 黑体;
    font-size: 6em;
    margin: 11% 0 0 0;
    text-align: center;
}

.cover{
    background: url('../img/2.jpg') no-repeat;
    background-size: cover;
}

.cover h1{
    color: white;
    font-family: 黑体;
    font-size: 6em;
    margin: 11% 0 0 0;
    text-align: center;
}

