@import '../color.scss';

.border {

  p {
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      left: 50%;
      margin-left: -242px;
      width: 484px;
      bottom: -30px;
      border-style: solid;
      border-width: 1px;
    }
  }

  &.blue   { p:before, li { color: $COLOR_BLUE;   } }
  &.red    { p:before, li { color: $COLOR_RED;    } }
  &.orange { p:before, li { color: $COLOR_ORANGE; } }
  &.white  {           li { color: white;         }
             p:before { border-style: none; }       }

  ul {

    width: 960px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 115px;

    list-style: none;

    li {
      float: left;
      font-size: 24px;
      div {
        margin-bottom: 30px;
      }
    }

    &:after {
      content: ' ';
      clear: both;
      display: table;
    }

  }

  &.three { ul { li { width: 33%; } } }
  &.four  { ul { li { width: 25%; } } }

}
