.about {
  // height: 1550px;
  background-color: white;

  p {
    font-size: 32px;
  }

  .selection {
    margin-top: 32px;
  }
}

#J_Intro {
  height: 450px;

  .galls-container {
    height: 350px;
  }
}
