@import '../color.scss';

.consultation {
  height: 880px;
  background-color: $COLOR_NAVY;

  .border {
    margin-top: 48px;
  }

  &, .border ul li, p {
    font-size: 30px;
  }

  .btn {
    cursor: pointer;
    width: 350px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: white;
    margin: 40px auto;
    padding: 12px 0;

    &:hover {
      background-color: white;
      color: $COLOR_NAVY;
    }

    @include transition(background-color .2s ease-in-out, color .2s ease-in-out);
  }

}
