@import '../color.scss';

.recruit {
    position: fixed;
    z-index: 999;
    top: 0;

    width: 100%;
    height: 60px;
    background-color: $COLOR_ORANGE;
    
    font-size: 24px;
    line-height: 60px;
    text-align: center;

    border-bottom: 1px solid #ba6e0b;

    a {
        color: #fff;
        text-decoration: none;

        @include transition(color .1s ease-in-out);
    }

    a:hover, a:focus {
        color: #ffd39b;
    }
}