@import '../color.scss';

.team {
  height: 1200px;
  background-color: $COLOR_GRAY;

  font-size: 24px;

  .arrow-self {
    background-color: $COLOR_GRAY;
  }
}

.album {
  div {
    float: left;
    margin-right: 40px;
    width: 220px;
    height: 300px;
    overflow: hidden;
  }
  div:nth-child(4n) {
    margin-right: 0;
  }
  img {
    margin-bottom: 8px;

    width: 202px;
    height: 202px;

    border-radius: 101px;
  }
}

#J_Teams {
  height: 900px;

  .galls-container {
    height: 600px;
  }
}

.album-box {
  width: 1000px;
  margin: 1.5em auto auto;
}
