$COLOR_STROM:    #6a6969;
$COLOR_GRAY:     #ededed;
$COLOR_DOUGLAS:  #413d3c;
$COLOR_FOG:      #cfd0d0;
$COLOR_SHADOWY:  #a6a6a7;
$COLOR_BLUE:     #00a0e9;
$COLOR_RED:      #ea5461;
$COLOR_ORANGE:   #f29419;
$COLOR_NAVY:     #1979a1;
$COLOR_LIVIDITY: #41b9b2;
$COLOR_PURPLE:   #ca7bb0;
