/* MyriadProRegular */
@font-face {
    font-family: 'MyriadProRegular';
    src: url('https://aon-cdn.googlecode.com/files/myriadpro-regular_0.eot');
    src: url('https://aon-cdn.googlecode.com/files/myriadpro-regular_0.eot') format('embedded-opentype'),
         url('https://aon-cdn.googlecode.com/files/myriadpro-regular_0.woff') format('woff'),
         url('https://aon-cdn.googlecode.com/files/myriadpro-regular_0.ttf') format('truetype'),
         url('https://aon-cdn.googlecode.com/files/myriadpro-regular_0.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
