/**** Background Images *****************************************************************/

@mixin background-image($url, $width, $height) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $width $height;
}

@mixin background-image-cover($url, $width, $height) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: $width;
  height: $height;
}

@mixin background-image-fit($url, $width, $height) {
  @include background-image($url, $width, $height);
  width: $width;
  height: $height;
}

/**** Circle ****************************************************************************/

@mixin circle($r) { width: 2 * $r; height: 2 * $r; border-radius: $r; }

@mixin semi-circle($r, $o) {
  bottom: -$r;
  margin-left: -$r;
  opacity: $o;
  @include circle($r);
}

/**** Transform *************************************************************************/

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin    rotate($deg)   { @include transform(rotate(#{$deg}deg)); }
@mixin     scale($scale) { @include transform(scale($scale)); }
@mixin translate($x, $y) { @include transform(translate($x, $y)); }
@mixin      skew($x, $y) { @include transform(skew(#{$x}deg, #{$y}deg)); }

@mixin transform-origin ($origin) {
     -moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

/***** Transition ***********************************************************************/

@mixin transition($transition...) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
       -moz-transition-delay: $delay;
         -o-transition-delay: $delay;
            transition-delay: $delay;
}

/***** Centering ************************************************************************/

@mixin float-center() {
  @include translate(-50%, 0);
  position: absolute;
  left: 50%;
}

/***** Animation ************************************************************************/

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation-loop ($delay, $duration, $animation, $timing) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: $timing;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    animation-iteration-count: infinite;
    animation-timing-function: $timing;
}